body {
  font: 100% "Roboto", sans-serif;
  color: #777;
  font-size: 15px;
  font-weight: 450;
  overflow-x: hidden;
  line-height: 1.4em;
  text-align: center;
  margin: 0px !important;
  letter-spacing: 0.5px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  margin: 0px; }

.bodyDiv {
  background-image: url(../img/seamless_paper_texture.png);
  background-repeat: repeat;
  z-index: 10; }

.paddingDiv {
  padding: 10px; }

.fancyFont {
  font-family: "Cinzel", cursive; }

a {
  color: #022869;
  text-decoration: none; }

a:hover {
  color: #33a6cc;
  text-decoration: none !important; }

.textBoxContainer {
  max-width: 500px;
  margin: auto;
  padding-bottom: 20px; }

.successBar {
  color: #022869;
  text-decoration: none;
  font-weight: 200px;
  font-size: 3vmin;
  line-height: 1.4em; }

.zolaButton {
  content: url("../img/zolaLogo.png");
  position: center;
  width: 200px;
  height: 126px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px; }

.zolaButton:hover {
  content: url("../img/zolapridelogo.png");
  position: center;
  width: 200px;
  height: 126px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.accommHeading {
  font-weight: bold; }

.accommHeadingTitle {
  font-weight: bold;
  font-size: 140%px;
  padding-top: 10px; }

.accommLayout p {
  padding-bottom: 25px; }

hr {
  border: 0 !important;
  height: 1px !important;
  background-image: linear-gradient(to right, #afa790, #777, #afa790); }

.toDoLayout p {
  padding-bottom: 10px; }

ul {
  margin-left: auto;
  padding-left: 1em;
  text-align: left; }

.list {
  padding-left: 25px;
  padding-right: 15px;
  padding-bottom: 15px;
  border: 2px solid #022869;
  max-width: 250px;
  margin: auto; }

a {
  font-weight: bold; }

section {
  padding-bottom: 30px; }

.titleHeading {
  font-size: 8vmin;
  font-weight: 500;
  color: #fff;
  font-family: "Cinzel", cursive;
  text-shadow: #333 0px 0px 8px; }

.paddington {
  padding-bottom: 10px; }

.titlePage {
  padding-top: 100vh; }

.paddingtonBigger {
  padding-bottom: 100px;
  position: fixed;
  width: 100%;
  margin: auto;
  top: 80vh; }

/*---------------------------------Text Boxes----------------------------------*/
.boxed {
  border: 2px solid #022869;
  padding: 22px;
  margin: auto;
  max-width: 400px; }

/*---------------------------------Dividers----------------------------------*/
.dividerline {
  max-width: 600px;
  /* actual img width */
  *height: 40px;
  /* actual img height - IE7 */
  background-image: url(../img/sepfixedvector.png);
  background-size: cover;
  background-position: center;
  margin: auto; }

.dividerline:after {
  content: " ";
  display: block;
  width: 100%;
  padding-top: 4.918%;
  /* slope */
  height: 40px;
  /* start height */ }

.afterDivider {
  padding-top: 30px; }

/*---------------------------------Menu Bar----------------------------------*/
.navbar {
  background-color: #333;
  width: 100%; }

.menu .navbar-nav {
  background-color: #333;
  text-align: center;
  width: 100%;
  padding: 0; }
  .menu .navbar-nav li {
    float: none !important;
    display: inline-block; }
    .menu .navbar-nav li a {
      color: #fff !important;
      text-decoration: none; }
    .menu .navbar-nav li .active {
      background-color: #022869 !important;
      color: #fff; }
    .menu .navbar-nav li a:hover:not(.active) {
      background-color: #022869;
      color: #33a6cc; }

/*---------------------------------------------------- 	Parallax------------------------------------------------------*/
.parallax {
  background-image: url("../img/engagement/High Resolution/D05Q7664crop.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  overflow: hidden;
  position: relative;
  z-index: -5; }

.parallax-pattern-overlay {
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
  z-index: -4; }

/*---------------------------------------------------- Titles ------------------------------------------------------*/
.sectionTitle {
  text-align: center;
  max-width: 960px;
  margin: 0px auto;
  color: #333;
  font: 100% "Cinzel", cursive;
  font-size: 220%;
  font-weight: 500; }

/*-------------------------------- 	RSVP Form-----------------------------------------*/
.btn-primary {
  background: #022869;
  color: #ffffff; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc; }

.successMessage {
  color: #DAD7CF;
  background: #337AB7;
  font-size: 130%;
  max-width: 250px;
  margin: auto;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px; }

.internalError {
  color: #FF0000;
  font-size: 20px; }

.form {
  margin: auto; }

/*--------------------------------Responsive Web Design-----------------------------------------*/
