$highresbg: 'https://res.cloudinary.com/djpusrqb6/image/upload/v1455509374/highbg.jpg';
$lowresbg: 'https://res.cloudinary.com/djpusrqb6/image/upload/v1455509981/lowbg.jpg';
$overlay: 'http://res.cloudinary.com/djpusrqb6/image/upload/v1455510222/pattern_cnpben.png';
$separator:'https://res.cloudinary.com/djpusrqb6/image/upload/v1455510222/sepfixed_bripdi.svg';
$bodybg:'https://res.cloudinary.com/djpusrqb6/image/upload/v1455510222/seamless_paper_texture_wxszb1.png';
$zola:'https://res.cloudinary.com/djpusrqb6/image/upload/v1455510416/zolaLogo_j60em8.png';
$zolapride:'https://res.cloudinary.com/djpusrqb6/image/upload/v1455510415/zolapridelogo_vqpbf1.png';